<!-- First and Second component -->


<app-dogs></app-dogs>


<header>
  <button (click)="changeVisible('first')">First Cats</button>
  <button (click)="changeVisible('second')" >Second Cats</button>
</header>

<main>
  <ng-container *ngIf="isCatsFirst; else secondCat">
    <app-cats-first [catType]="catType"></app-cats-first>
  </ng-container>

  <button (click)="changeType" >
    change type
  </button>

  <ng-template #secondCat>
    <app-cats-second></app-cats-second>
  </ng-template>
  
  
</main>

<!-- ng-template, content, conainter -->

<app-cats-third>
  <h1 uniqueSecond>
    {{ 'This is the second rendered unique content element' }}
  </h1>
    <div unique >
      <span [ngStyle]="{'color': 'red'}" > {{'Unique cat'}} </span>
    </div>
    
</app-cats-third>
